<a href="https://colab.research.google.com/github/Kgs-Mathaba/Apple-Stock-Price-Prediction-And-Forecasting-Using-LSTM-Neural-Network/blob/main/Apple_Stock_Price_Prediction_And_Forecasting_Using_LSTM_Neural_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data Collection
import pandas_datareader as pdr

df = pdr.get_data_tiingo('AAPL', api_key = key)
df.to_csv('AAPL.csv')

In [3]:
import pandas as pd
df = pd.read_csv('AAPL.csv')
df.head(10)

  symbol                       date   close  ...  adjVolume  divCash  splitFactor
0   AAPL  2016-12-23 00:00:00+00:00  116.52  ...   56997936      0.0          1.0
1   AAPL  2016-12-27 00:00:00+00:00  117.26  ...   73187420      0.0          1.0
2   AAPL  2016-12-28 00:00:00+00:00  116.76  ...   83623568      0.0          1.0
3   AAPL  2016-12-29 00:00:00+00:00  116.73  ...   60158076      0.0          1.0
4   AAPL  2016-12-30 00:00:00+00:00  115.82  ...  122345060      0.0          1.0
5   AAPL  2017-01-03 00:00:00+00:00  116.15  ...  115127460      0.0          1.0
6   AAPL  2017-01-04 00:00:00+00:00  116.02  ...   84472464      0.0          1.0
7   AAPL  2017-01-05 00:00:00+00:00  116.61  ...   88774348      0.0          1.0
8   AAPL  2017-01-06 00:00:00+00:00  117.91  ...  127007600      0.0          1.0
9   AAPL  2017-01-09 00:00:00+00:00  118.99  ...  134247792      0.0          1.0

[10 rows x 14 columns]